/* body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 360px;
    min-height: 540px;
} */

/* .gameWindow{
    background-image: url('../assets/background-image.svg');
    background-color: #080E18;
    font-family: 'VT323';
    color: #48FAE4;
} */

/* .normalText{
    font-family: 'VT323';
} */

/* #startGameWindowDiv{
    color: #48FAE4;
} */

#playButton{
    height: 1.125em;
    border-radius: 0.562em;
    padding: 0 0.5em;
    border: none;
    background-color: #48FAE4;
}

/* .centerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#gameNameDiv{
    margin-top: 16%;
    justify-content: flex-start;
}

#startPageImageDiv{
    width: 100%;
    margin-bottom: 8%;
    justify-content: flex-end;
}

#startGameWindowDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#startPageImage{
    width: 60%;
    height: auto
}